@model CMA.Common.Model.DBParamter

<div class="form-body">

    @*{"Username":"sa","Password":"qwe123!@#","Port":3306,"DBName":"test","Host":"127.0.0.1","Interval":10000}*@
    <div class="form-group">
        <label class="col-md-2 control-label">数据库账号</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Username, new { @placeholder = "数据库账号", @class = "form-control" })
            @*<input class="form-control" type="text" placeholder="数据库账号" value="@Model.Username">*@
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">数据库密码</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Password, new { @placeholder = "数据库密码", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">端口</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Port, new { @placeholder = "端口", @required = "required", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">数据库主机IP</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Host, new { @placeholder = "主机IP", @required = "required", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">数据库名称</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.DBName, new { @placeholder = "数据库名称", @required = "required", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">轮询周期</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Interval, new { @placeholder = "轮询周期", @required = "required", @number = "true", @class = "form-control" })
        </div>
    </div>
</div>