@*@model CMA.Common.Model.MonitorItemDBModel*@
@{
    ViewBag.FirstMenu = "fMenuMonitor";
    ViewBag.SecondMenu = "sMenuDevice";
    Layout = "/Views/_LayoutPage.cshtml";
}


@section PageLevelPluginsCss{
}


<div class="page-content">
    <!--导航-->
    <div class="breadcrumbs">
        <h1>设备信息</h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">监控管理</a>
            </li>
            <li class="active">设备管理</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">

                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">设备信息</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab">基本信息</a>
                        </li>
                        <li>
                            <a href="#tab_1_2" data-toggle="tab">设备参数</a>
                        </li>
                    </ul>
                </div>

                <div class="portlet-body">
                    <div id="alert_container"></div>

                    <form id="formData" class="form-horizontal portlet-form">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1">
                                <div class="form-body">
                                    <div class="form-group">
                                        @*@Html.HiddenFor(m => m.item.Id)*@
                                        <input type="hidden" id="id" name="Id" value="@Model.item.Id" />
                                        <label class="col-md-2 control-label">设备名称</label>
                                        <div class="col-md-4">
                                            <div class="input-group-control">
                                                <input class="form-control" id="deviceName" name="Name" type="text" placeholder="设备名称" required value="@Model.item.Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">描述</label>
                                        <div class="col-md-4">
                                            <div class="input-group-control">
                                                <input class="form-control" id="note" name="Note" type="text" placeholder="描述" required value="@Model.item.Note">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">主机IP</label>
                                        <div class="col-md-4">
                                            <div class="input-group-control">
                                                <input class="form-control" id="host" name="MHost" type="text" placeholder="主机IP" required  value="@Model.item.Host">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">所属采集器IP</label>
                                        <div class="col-md-4">
                                            <div class="input-group-control">
                                                <input class="form-control" type="text" name="CollectorHost" id="collectHost" placeholder="所属采集器IP" required value="@Model.item.CollectorHost">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab_1_2">
                                <div class="form-body">

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">参数类型</label>
                                        <div class="col-md-4">
                                            <select class="form-control disabled" id="selectType" name="ItemType">
                                                <option value="@Model.TypeValue">@Model.TypeName</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div>
                                        @{
                                            string page = Model.TypePage;
                                            @Html.Action(page, new { dbModel = Model.item.Paramter })
                                        }
                                    </div>
                                    @*@{Html.RenderAction(page, "Device", new { dbModel = Model.item.Paramter }); }*@
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="form-body">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" onclick="edit();" class="btn green">提交</button>
                                            <button type="button" onclick="javascript:location.href='/Device/Index'" class="btn default">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

@section PageLevelPluginsScript{
}
@section PageLevelScripts{
    <script>
        function AlertFunc(type, message) {
            App.alert({
                container: $("#alert_container").val(),
                //place: $("#alert_place").val(),
                type: type,
                message: message,
                close: true,
                reset: true,
                focus: false,
                closeInSeconds: '10000',
                icon: 'fa fa-info'
            });
        }


        function edit() {
            $.ajax({
                type: 'POST',
                url: "/Device/Edit",
                data: $('#formData').serialize(),
                success: function (data) {
                    if (data.State == true) {
                        AlertFunc("success", "提交成功");
                    }
                    else {
                        AlertFunc("danger", "提交失败");
                    }
                },
                error: function () {
                    AlertFunc("danger", "出现未知错误");
                }
            });
        }
    </script>
}



